# {{ ansible_managed }}

[Service]
PIDFile={{ django_app__run_path }}/gunicorn.pid
User={{ django_app__user }}
Group={{ django_app__group }}
WorkingDirectory={{ django_app__django_path }}
EnvironmentFile={{ django_app__root_path }}/conf.d/*.conf
ExecStart={{ django_app__venv_path }}/bin/gunicorn {{ django_app__wsgi_module }}:application	\
	--name %i 						\
	--pid {{ django_app__run_path }}/gunicorn.pid		\
	--workers 3 						\
	--bind=unix:{{ django_app__run_path }}/gunicorn.sock 	\
	--log-level=info					\
	--log-file=-

