# {{ ansible_managed }}

[Unit]
Description=Gunicorn daemon for %i
#Requires=gunicorn.socket
After=network.target

[Service]
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
