# {{ ansible_managed }}

{% if django_app__database == 'postgresql' %}
DATABASE_URL=postgres://{{ django_app__database_user }}:{{ django_app__database_password }}@{{ django_app__database_server }}:{{ django_app__database_port }}/{{ django_app__database_name }}
{% endif %}
